<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTWFZ83LOcKEJHeOoD4FQGhGXYeFvwjOE</string>
	<key>GCM_SENDER_ID</key>
	<string>261546288119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userCafe</string>
	<key>PROJECT_ID</key>
	<string>nards-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nards-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261546288119:ios:5c88b0796b33ea9e73c4f2</string>
</dict>
</plist>